experiments/data/*
experiments/artifacts/*
.ipynb_checkpoints/
*.log
experiments/notebooks/figures
experiments/notebooks/deprecated
experiments/scripts/__pycache__
experiments/scripts/dask-worker-space
